* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: NorseBold;
    src: url(./fonts/norse/Norsebold.otf) format('opentype');
}

body {
    display: flex;
}

.leftBox {
    background-image: url(./imgs/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    flex: 1;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.logoBox {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 120px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.logoImg {
    height: 120px;
    width: auto;
}

h1 {
    color: white;
    font-family: NorseBold;
    font-size: 80px;
}

.leftBox p {
    color: lightgray;
    font-size: 16px;

    margin-top: auto;
    margin-bottom: 20px;

    align-self: center;
}
.underline {
    text-decoration: underline;
}

.rightBox {
    flex: 2;
    background-color: #f9fafb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.introBox,
.signUpBox,
.logInBox {
    padding: 0 200px 0 40px;
}

.introBox {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-weight: 600;
    font-size: 20px;

    margin-top: 100px;
    margin-bottom: 40px;

}

.signUpBox {
    background-color: white;
    
    padding-top: 20px;
    padding-bottom: 40px;
}

.signUpBox p {
    font-size: 20px;
    font-weight: 550;

    margin-bottom: 20px;
}

.labelBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.labelBox > div {
    width: 30%;
    display: flex;
    flex-direction: column;

    margin-right: 40px;

    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

input {
    border: 1px solid #E5E7EB;
    padding: 8px;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
}

input:focus:invalid {
    border: 1px solid red;
}

